################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/hosts/ReStoreApi/appsettings.json
/src/libs/ReStoreEcommerce.Infrastructure/Persistence/EFPostgreSql/Migrations/MigrationsCommands.txt
