################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/hosts/ReStoreApi/appsettings.json
/src/libs/ReStoreEcommerce.Infrastructure/Persistence/EFPostgreSql/Migrations/MigrationsCommands.txt
/.vs/ProjectEvaluation/restoreecommerce.metadata.v9.bin
/.vs/ProjectEvaluation/restoreecommerce.projects.v9.bin
/.vs/ProjectEvaluation/restoreecommerce.strings.v9.bin
/.vs/ReStoreEcommerce/config/applicationhost.config
/.vs/ReStoreEcommerce/DesignTimeBuild/.dtbcache.v2
/.vs/ReStoreEcommerce/FileContentIndex/2325e1a4-b6eb-41c0-9ef4-bda9eb2df46b.vsidx
/.vs/ReStoreEcommerce/FileContentIndex/6d8d936a-ed90-4e3b-bba4-94a0b4427dce.vsidx
/.vs/ReStoreEcommerce/FileContentIndex/7e7d6a2a-6d96-480e-a68d-725c72cbc561.vsidx
/.vs/ReStoreEcommerce/FileContentIndex/982a6e3d-c281-412b-9618-5151844c988d.vsidx
/.vs/ReStoreEcommerce/FileContentIndex/b1c20b0b-9b2e-479b-9e07-b61a4e2ef89d.vsidx
/.vs/ReStoreEcommerce/v17/.futdcache.v2
/.vs/ReStoreEcommerce/v17/.suo
/.vs/ReStoreEcommerce/v17/DocumentLayout.backup.json
/.vs/ReStoreEcommerce/v17/DocumentLayout.json
/.vs/ReStoreEcommerce/v17/TestStore/0/000.testlog
/.vs/ReStoreEcommerce/v17/TestStore/0/testlog.manifest
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.deps.json
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.dll
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.exe
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.pdb
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.runtimeconfig.json
/src/hosts/ReStoreApi/bin/Debug/net8.0/ReStoreApi.staticwebassets.endpoints.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/hosts/ReStoreApi/obj/Debug/net8.0/ApiEndpoints.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/apphost.exe
/src/hosts/ReStoreApi/obj/Debug/net8.0/EndpointInfo/ReStoreApi.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/EndpointInfo/ReStoreApi.OpenApiFiles.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/EndpointInfo/ReStoreEcommerceApi.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/EndpointInfo/ReStoreEcommerceApi.OpenApiFiles.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/rbcswa.dswa.cache.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/ref/ReStoreApi.dll
/src/hosts/ReStoreApi/obj/Debug/net8.0/refint/ReStoreApi.dll
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.AssemblyInfo.cs
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.AssemblyInfoInputs.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.assets.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.csproj.AssemblyReference.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.csproj.BuildWithSkipAnalyzers
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.csproj.CoreCompileInputs.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.csproj.FileListAbsolute.txt
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.csproj.Up2Date
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.dll
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.GeneratedMSBuildEditorConfig.editorconfig
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.genruntimeconfig.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.GlobalUsings.g.cs
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.MvcApplicationPartsAssemblyInfo.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.MvcApplicationPartsAssemblyInfo.cs
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.pdb
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreApi.sourcelink.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreEcommerceApi.assets.cache
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreEcommerceApi.csproj.BuildWithSkipAnalyzers
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreEcommerceApi.csproj.FileListAbsolute.txt
/src/hosts/ReStoreApi/obj/Debug/net8.0/ReStoreEcommerceApi.GlobalUsings.g.cs
/src/hosts/ReStoreApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/rpswa.dswa.cache.json
/src/hosts/ReStoreApi/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/src/hosts/ReStoreApi/obj/Debug/net8.0/staticwebassets.removed.txt
/src/hosts/ReStoreApi/obj/project.assets.json
/src/hosts/ReStoreApi/obj/ReStoreApi.csproj.nuget.dgspec.json
/src/hosts/ReStoreApi/obj/ReStoreApi.csproj.nuget.g.props
/src/hosts/ReStoreApi/obj/ReStoreApi.csproj.nuget.g.targets
/src/hosts/ReStoreApi/obj/ReStoreEcommerceApi.csproj.nuget.dgspec.json
/src/hosts/ReStoreApi/obj/ReStoreEcommerceApi.csproj.nuget.g.props
/src/hosts/ReStoreApi/obj/ReStoreEcommerceApi.csproj.nuget.g.targets
/src/libs/ReStoreEcommerce.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/libs/ReStoreEcommerce.Application/obj/Debug/net8.0/ReStoreEcommerce.Application.assets.cache
/src/libs/ReStoreEcommerce.Application/obj/Debug/net8.0/ReStoreEcommerce.Application.csproj.BuildWithSkipAnalyzers
/src/libs/ReStoreEcommerce.Application/obj/Debug/net8.0/ReStoreEcommerce.Application.csproj.FileListAbsolute.txt
/src/libs/ReStoreEcommerce.Application/obj/Debug/net8.0/ReStoreEcommerce.Application.GlobalUsings.g.cs
/src/libs/ReStoreEcommerce.Application/obj/project.assets.json
/src/libs/ReStoreEcommerce.Application/obj/ReStoreEcommerce.Application.csproj.nuget.dgspec.json
/src/libs/ReStoreEcommerce.Application/obj/ReStoreEcommerce.Application.csproj.nuget.g.props
/src/libs/ReStoreEcommerce.Application/obj/ReStoreEcommerce.Application.csproj.nuget.g.targets
/src/libs/ReStoreEcommerce.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/libs/ReStoreEcommerce.Domain/obj/Debug/net8.0/ReStoreEcommerce.Domain.assets.cache
/src/libs/ReStoreEcommerce.Domain/obj/Debug/net8.0/ReStoreEcommerce.Domain.csproj.BuildWithSkipAnalyzers
/src/libs/ReStoreEcommerce.Domain/obj/Debug/net8.0/ReStoreEcommerce.Domain.csproj.FileListAbsolute.txt
/src/libs/ReStoreEcommerce.Domain/obj/Debug/net8.0/ReStoreEcommerce.Domain.GlobalUsings.g.cs
/src/libs/ReStoreEcommerce.Domain/obj/project.assets.json
/src/libs/ReStoreEcommerce.Domain/obj/ReStoreEcommerce.Domain.csproj.nuget.dgspec.json
/src/libs/ReStoreEcommerce.Domain/obj/ReStoreEcommerce.Domain.csproj.nuget.g.props
/src/libs/ReStoreEcommerce.Domain/obj/ReStoreEcommerce.Domain.csproj.nuget.g.targets
/src/libs/ReStoreEcommerce.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/libs/ReStoreEcommerce.Infrastructure/obj/Debug/net8.0/ReStoreEcommerce.Infrastructure.assets.cache
/src/libs/ReStoreEcommerce.Infrastructure/obj/Debug/net8.0/ReStoreEcommerce.Infrastructure.csproj.BuildWithSkipAnalyzers
/src/libs/ReStoreEcommerce.Infrastructure/obj/Debug/net8.0/ReStoreEcommerce.Infrastructure.csproj.FileListAbsolute.txt
/src/libs/ReStoreEcommerce.Infrastructure/obj/Debug/net8.0/ReStoreEcommerce.Infrastructure.GlobalUsings.g.cs
/src/libs/ReStoreEcommerce.Infrastructure/obj/project.assets.json
/src/libs/ReStoreEcommerce.Infrastructure/obj/ReStoreEcommerce.Infrastructure.csproj.EntityFrameworkCore.targets
/src/libs/ReStoreEcommerce.Infrastructure/obj/ReStoreEcommerce.Infrastructure.csproj.nuget.dgspec.json
/src/libs/ReStoreEcommerce.Infrastructure/obj/ReStoreEcommerce.Infrastructure.csproj.nuget.g.props
/src/libs/ReStoreEcommerce.Infrastructure/obj/ReStoreEcommerce.Infrastructure.csproj.nuget.g.targets
/src/libs/ReStoreEcommerce.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/libs/ReStoreEcommerce.Shared/obj/Debug/net8.0/ReStoreEcommerce.Shared.assets.cache
/src/libs/ReStoreEcommerce.Shared/obj/Debug/net8.0/ReStoreEcommerce.Shared.csproj.BuildWithSkipAnalyzers
/src/libs/ReStoreEcommerce.Shared/obj/Debug/net8.0/ReStoreEcommerce.Shared.csproj.FileListAbsolute.txt
/src/libs/ReStoreEcommerce.Shared/obj/Debug/net8.0/ReStoreEcommerce.Shared.GlobalUsings.g.cs
/src/libs/ReStoreEcommerce.Shared/obj/project.assets.json
/src/libs/ReStoreEcommerce.Shared/obj/ReStoreEcommerce.Shared.csproj.nuget.dgspec.json
/src/libs/ReStoreEcommerce.Shared/obj/ReStoreEcommerce.Shared.csproj.nuget.g.props
/src/libs/ReStoreEcommerce.Shared/obj/ReStoreEcommerce.Shared.csproj.nuget.g.targets
/src/hosts/ReStoreApi/obj/project.nuget.cache
/src/libs/ReStoreEcommerce.Application/obj/project.nuget.cache
/src/libs/ReStoreEcommerce.Domain/obj/project.nuget.cache
/src/libs/ReStoreEcommerce.Infrastructure/obj/project.nuget.cache
/src/libs/ReStoreEcommerce.Shared/obj/project.nuget.cache
/.vs/ReStoreEcommerce/FileContentIndex/4d4a22e9-ba30-49b8-8d0f-8c95ec4b486f.vsidx
*.vsidx
